/* Setting desktop properties */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
}

:root {
    --vh: 100vh;
}

.t-1 {
    align-self: center;
    font-size: 1.98vh;
}

.t-2 {
    align-self: center;
    font-size: 1.58vh;
}

body {
    display: block;
    margin: 0px;
    padding: 0px;;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: url(../img/cursors/default.png) 4 4, default;
}

div {
    box-sizing: border-box;
}

/* Setting styles and hover actions for toggling fullscreen-on button */

div.toggle-on {
    position: absolute;
    opacity: 0.4;
    bottom: 8vh;
    right: 2vw;
    height: 6vh;
    width: 6vh;
}

div.toggle-on img {
    width: 7vh;
    height: 7vh;
}

div.toggle-on:hover {
    opacity: 1;
    transform: scale(1.1);
}

div.toggle-on img:hover {
    filter: invert(81%) sepia(4%) saturate(4284%) hue-rotate(172deg) brightness(103%) contrast(83%);
}

/* Setting styles and hover actions for toggling fullscreen-off button */

div.toggle-off {
    position: absolute;
    opacity: 0.4;
    bottom: 8vh;
    right: 2vw;
    height: 6vh;
    width: 6vh;
}

div.toggle-off img {
    width: 7vh;
    height: 7vh;
}

div.toggle-off:hover {
    opacity: 1;
    transform: scale(1.1);
}

div.toggle-off img:hover {
    filter: invert(81%) sepia(4%) saturate(4284%) hue-rotate(172deg) brightness(103%) contrast(83%);
}

/* Desktop wallpaper */

div.wallpaper {
    display: block;
    height: 96vh;
    width: 100vw;
    margin: 0%;
    padding: 0%;
    background-image: url("../img/bg.jpg"); /* can be set to whatever image url */
    background-repeat: no-repeat;
    background-size: 100vw 96vh;
}

/* Setting basic hide and show rules */

.hidden {
    display: none;
}

.shown {
    display: block;
}

/* Defining styles for menu */

.kick {
    margin: 0%;
    padding: 0%;
    position: fixed;
    bottom: 4vh;
    left: 0vw;
    width: 49.5vw;
    height: 62vh;
    background-color: #eff0f1;
    border-top-right-radius: 2pt;
    box-shadow: 0px 0px 4px rgb(61, 61, 61);
}

.kick .top {
    display: flex;
    margin: 0%;
    padding: 0.5vw;
    padding-bottom: 0.25%;
    padding-top: 0.25%;
    width: 100%;
    height: 10.5%;
    top:0vh;
    left: 0vw;
    border-bottom: 1px solid rgb(207, 209, 209);
}

.kick .top .img {
    align-self: center;
    display: inline-flex;
    margin-right: 0.6%;
}

.kick .top .img img {
    width: 4vh;
    height: 4vh;
}

.kick .top div.user {
    display: flex;
    width: 29.4%;
}

.kick .top form.search {
    display: flex;
    align-self: center;
    padding-left: 0.3%;
    width: 55.5%;
    height: 63%;
}

.kick .top form.search input {
    display: flex;
    align-self: center;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 2%;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 2pt;
    border-color: #bbbcbd;
    border-style: solid;
    border-width: 0.5px;
    color: #929d9e;
}

.kick .top form.search input:hover {
    border-color: #b4daee;
}

.kick .top form.search input:active {
    border-color: #3daee9;
}

.kick .top .buttons {
    display: flex;
    justify-content: flex-end;
    width: 11%;
    justify-content: center;
}

.kick .top div.settings {
    display: inline-flex;
    align-self: center;
    justify-content: center;
    margin: 2%;
    margin-left: 3%;
    height: 4vh;
    width: 4vh;
    border-radius: 2pt;
    border-color: #eff0f1;
    border-style: solid;
    border-width: 0.5px;
}

.kick .top div.settings:hover {
    border-radius: 2pt;
    border-color: #3daee9;
    border-style: solid;
    border-width: 0.5px;
}

.top .settings img {
    align-self: center;
    width: 3vh;
    height: 3vh;
}

.kick .top div.pin {
    display: inline-flex;
    align-self: center;
    justify-content: center;
    margin-right: 1%;
    height: 4vh;
    width: 4vh;
    border-radius: 2pt;
    border-color: #eff0f1;
    border-style: solid;
    border-width: 0.5px;
}

.kick .top div.pin:hover {
    border-radius: 2pt;
    border-color: #3daee9;
    border-style: solid;
    border-width: 0.5px;
}

.top .pin img {
    align-self: center;
    width: 3vh;
    height: 3vh;
}

.kick .middle {
    display: flex;
    margin: 0%;
    width: 100%;
    height: 80.5%;
    border-bottom: 1px solid rgb(219, 220, 221);
    vertical-align: middle;
}

.kick .left {
    display: inline-block;
    overflow: hidden;
    width: 31.5%;
    height: 100%;
    border-right: 1px solid rgb(219, 220, 221);
    margin: 0%;
    padding-top: 0.5%;
}


.kick .left .margin {
    display: flex;
    width: 100%;
    height: 10%;
    align-content: center;
    align-self: center;
    justify-content: center;
}

.kick .left .element {
    border-color: #eff0f1;
    border-style: solid;
    border-width: 1px;
    margin-left: 3%;
    margin-right: 2.6%;
    display: flex;
    align-self: center;
    height: 100%;
    width: 100%;
    padding: 0.5px;
}

.kick .left .element .icon {
    display: flex;
    padding-left: 3%;
    align-self: center;
    width: 3.5vh;
    height: 3.5vh;
    justify-content: center;
    align-items: center;
}

.kick .left .element .icon img {
    display: block;
    align-items: center;
    align-content: center;
    width: 100%;
    justify-content: center;
}

.kick .left .element p {
    padding-left: 2%;
}

.kick .left .element.e1 {
    background-color: #c4e0f0;
    border-color: #a0cfe9;
    border-style: solid;
    border-width: 1px;
    border-radius: 2pt;
}

.kick .left .element:hover {
    background-color: #b4daee;
    border-style: solid;
    border-width: 1px;
    border-color: #3daee9;
    border-radius: 2pt;
}

.kick .scrleft {
    overflow: visible;
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 1.6%;
    padding-bottom: 1.6%;
    width: 2.6%;
    height: 100%;
    margin: 0%;
    border-right: 1px solid rgb(207, 209, 209);
}

.middle .bg {
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.middle .handle {
    box-sizing: content-box;
    height: 80%;
    width: 0.3vw;
    align-self: flex-start;
    border-radius: 2pt;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(178, 180, 180);
    background-color: #d5d9db;
}

.middle .bg:hover {
    box-sizing: content-box;
    height: 100%;
    width: 0.3vw;
    margin: 0%;
    padding: 0%;
    align-self: center;
    border-radius: 2pt;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(178, 180, 180);
    background-color: #d5d9db;
}

.middle .handle:hover {
    box-sizing: content-box;
    height: 80%;
    width: 6px;
    align-self: flex-start;
    border-radius: 2pt;
    border-style: solid;
    border-width: 0.5px;
    border-color: #3daee9;
    background-color: #5bc0f7;
}

.kick .fav {
    display: block;
    justify-content: flex-start;
    align-items: flex-start;
    width: 63.3%;
    height: 100%;
    margin: 0%;
    padding: 1vh;
    border-right: 1px solid rgb(219, 220, 221);
}

.kick .fav .line {
    display: flex;
}

.kick .fav .start {
    border-color: #eff0f1;
    border-style: solid;
    border-width: 1px;
    width: 7.5vw;
    height: 7.5vw;
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: center;
    align-content: center;
}

.kick .fav .start:hover {
    background-color: #b4daee;
    border-radius: 2pt;
    border-color: #3daee9;
    border-style: solid;
    border-width: 1px;
}

.kick .fav .start .img {
    display: flex;
    padding-bottom: 2%;
    width: 100%;
    align-self: center;
    justify-content: center;
}

.kick .fav .start .img img {
    width: 6vh;
    height: 6vh;
}

.kick .fav .start .label {
    display: flex;
    justify-content: center;
}

.kick .scright {
    margin: 0%;
    padding-top: 1.6%;
    padding-bottom: 1.6%;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 2.6%;
    height: 100%;
}

.kick .bott {
    display: flex;
    width: 100%;
    height: 9%;
    left: 0vw;
    border-bottom: 1px solid rgb(207, 209, 209);
}

.kick .bott .side {
    display: flex;
    width: 34.1%;
    height: 100%;
}

.kick .bott .side .child {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.kick .bott .side .child * {
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
}

.kick .bott .side .icon img {
    width: 2.8vh;
    height: 2.8vh;
}

.kick .bott .side .text {
    padding-left: 3%;
}

.kick .bott .session {
    display: flex;
    justify-content: flex-end;
    padding-left: 2vw;
    width: 65.9%;
    height: 100%;
}

.kick .bott .session .child {
    align-self: center;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 1%;
    padding-right: 0.7%;
    display: flex;
    height: 3.8vh;
    justify-content: center;
    border-radius: 2pt;
    border-color: #eff0f1;
    border-style: solid;
    border-width: 0.5px;
}

.kick .bott .session .child:hover {
    border-radius: 2pt;
    border-color: #3daee9;
    border-style: solid;
    border-width: 0.5px;
}

.kick .bott .session .leave {
    width: 3.8vh;
    padding: 0%;
    margin-right: 2%;
}

.kick .bott .session .child * {
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
}

.kick .bott .session .icon img {
    height: 2.8vh;
    width: 2.8vh;
}

.kick .bott .session .text {
    margin-left: 0.5vh;
}

/* Panel elements style */

    /* Main panel */

div.panel {
    display: block;
    position: relative;
    bottom: 0;
    background-color: #eff0f1;
    width: 100vw;
    height: 4vh;
    margin: 0%;
    padding: 0.55vh;
}

    /* Menu button */

div.panel .menu {
    display: block;
    height: 3.2vh;
    width: 3.2vh;
}

.panel .menu:hover {
    opacity: 0.8;
}

/* Apps layout */

.app {
    position: fixed;
    width: 45vw;
    height: 60vh;
    top: 10vh;
    left: 20vw;
    background-color: #eff0f1;
    border-top-left-radius: 3pt;
    border-top-right-radius: 3pt;
    box-shadow: 0px 0px 5px rgb(61, 61, 61);
}

.app div.grid {
    display: grid;
    gap: 0%;
    margin: 0%;
    padding: 0%;
    left: 0vw;
}

div.grid .header {
    grid-column-start: 1;
    grid-column-end: 101;
    grid-row-start: 1;
    grid-row-end: 8;
    border-top-left-radius: 3pt;
    border-top-right-radius: 3pt;
}

.app .content {
    grid-column-start: 1;
    grid-column-end: 101;
    grid-row-start: 8;
    grid-row-end: 101;
}

/* Wallpaper selection rectangle */

div.selecrect {
    height: 100%;
    width: 100%;
    min-width: none;
    min-height: none;
}

div.selecrect svg {
    width: 100%;
    height: 100%;
}

div.selecrect svg rect {
    stroke:white;
    stroke-width: 0.5px;
    opacity: 1;
    stroke-opacity: 5;
    fill: #77d5f1;
    fill-opacity: 0.2;
}
